div.highlight pre .hll { background-color: #ffffcc }
div.highlight pre  {
    margin:   0;
    padding:  0;
    }
div.highlight pre .c { color:#BC9358; font-style: italic; } /* Comment */
div.highlight pre .err { border: 1px solid #FF0000 } /* Error */
div.highlight pre .k { color: #CB7832; font-weight: bold } /* Keyword */
div.highlight pre .o { color: #666666 } /* Operator */
div.highlight pre .cm { color: #BC9358; font-style: italic } /* Comment.Multiline */
div.highlight pre .cp { color: #007020 } /* Comment.Preproc */
div.highlight pre .c1 { color: #BC9358; font-style: italic } /* Comment.Single */
div.highlight pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
div.highlight pre .gd { color: #A00000 } /* Generic.Deleted */
div.highlight pre .ge { font-style: italic } /* Generic.Emph */
div.highlight pre .gr { color: #FF0000 } /* Generic.Error */
div.highlight pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.highlight pre .gi { color: #00A000 } /* Generic.Inserted */
div.highlight pre .go { color: #808080 } /* Generic.Output */
div.highlight pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
div.highlight pre .gs { font-weight: bold } /* Generic.Strong */
div.highlight pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.highlight pre .gt { color: #0040D0 } /* Generic.Traceback */
div.highlight pre .kc { color: #CB7832; font-weight: bold } /* Keyword.Constant */
div.highlight pre .kd { color: #CB7832; font-weight: bold } /* Keyword.Declaration */
div.highlight pre .kn { color: #CB7832; font-weight: bold } /* Keyword.Namespace */
div.highlight pre .kp { color: #CB7832 } /* Keyword.Pseudo */
div.highlight pre .kr { color: #CB7832; font-weight: bold } /* Keyword.Reserved */
div.highlight pre .kt { color: #902000 } /* Keyword.Type */
div.highlight pre .m { color: #40a070 } /* Literal.Number */
div.highlight pre .s { color: #4070a0 } /* Literal.String */
div.highlight pre .na { color: #4070a0 } /* Name.Attribute */
div.highlight pre .nb { color: #fff } /* Name.Builtin */
div.highlight pre .nc { color: #fff; font-weight: bold } /* Name.Class */
div.highlight pre .no { color: #fff } /* Name.Constant */
div.highlight pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
div.highlight pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
div.highlight pre .ne { color: #007020 } /* Name.Exception */
div.highlight pre .nf { color: #06287e } /* Name.Function */
div.highlight pre .nl { color: #002070; font-weight: bold } /* Name.Label */
div.highlight pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
div.highlight pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
div.highlight pre .nv { color: #D0CFFE } /* Name.Variable */
div.highlight pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
div.highlight pre .w { color: #bbbbbb } /* Text.Whitespace */
div.highlight pre .mf { color: #A4C260 } /* Literal.Number.Float */
div.highlight pre .mh { color: #A4C260 } /* Literal.Number.Hex */
div.highlight pre .mi { color: #A4C260 } /* Literal.Number.Integer */
div.highlight pre .mo { color: #A4C260 } /* Literal.Number.Oct */
div.highlight pre .sb { color: #A4C260 } /* Literal.String.Backtick */
div.highlight pre .sc { color: #A4C260 } /* Literal.String.Char */
div.highlight pre .sd { color: #A4C260; font-style: italic } /* Literal.String.Doc */
div.highlight pre .s2 { color: #A4C260 } /* Literal.String.Double */
div.highlight pre .se { color: #A4C260; font-weight: bold } /* Literal.String.Escape */
div.highlight pre .sh { color: #A4C260 } /* Literal.String.Heredoc */
div.highlight pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
div.highlight pre .sx { color: #c65d09 } /* Literal.String.Other */
div.highlight pre .sr { color: #A4C260 } /* Literal.String.Regex */
div.highlight pre .s1 { color: #4070a0 } /* Literal.String.Single */
div.highlight pre .ss { color: #6C9CBD } /* Literal.String.Symbol */
div.highlight pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
div.highlight pre .vc { color: #D0CFFE } /* Name.Variable.Class */
div.highlight pre .vg { color: #D0CFFE } /* Name.Variable.Global */
div.highlight pre .vi { color: #D0CFFE } /* Name.Variable.Instance */
div.highlight pre .il { color: #40a070 } /* Literal.Number.Integer.Long */
