---
layout:       default
body_id:      home
title:        DataMapper
---

<p class="blurb">
DataMapper is a <a href="http://en.wikipedia.org/wiki/Object-relational_mapping">Object Relational Mapper</a>
written in <a href="http://www.ruby-lang.org/en/">Ruby</a>.
The goal is to create an ORM which is fast, thread-safe and feature rich.
</p>

<p class="blurb">
To learn a little more about this project and why you should be interested,<br>
read the <a href="/why.html">Why Datamapper?</a> page.
</p>

<h2 class="latest-release">Recent News</h2>

{% for post in site.tags.important limit:1 %}
<p class="latest-release">{{ post.title }}<br/>
  {{ post.summary }}<br/>
  <a href="{{ post.url }}" class="read_more">Read more</a>
</p>
{% endfor %}

<div id="help">
  <h2>Help</h2>

  <p>
  If you're having trouble, don't forget to check the documentation, which
  has both references and step by step tutorials.

  <p><a href="/docs/">Read documentation</a></p>
</div>

<div id="bugs">
  <h2>Issues</h2>

  <p>
  If you're still having trouble, or you think you came across something
  you think might be a bug, let us know.
  <p>

  <p><a href="http://github.com/datamapper/dm-core/issues">Log a ticket</a></p>
</div>

<h2>News</h2>

<dl>
{% for post in site.posts limit:20 %}

  <dt><a href="{{ post.url }}">{{ post.title }}</a></dt>
  <dd>
    <p>{{ post.summary }}</p>
    <p class="meta">{{ post.date | date_to_long_string }} by {{ post.author }}</p>
  </dd>

{% endfor %}
</dl> 

{{ paginator.previous_page }}
{{ paginator.next_page }}
