#!/usr/bin/env ruby
require 'compass'
Compass.add_project_configuration 'config/compass.rb'

compile '/stylesheets/*/' do
  filter :sass, Compass.sass_engine_options
end

route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

compile '*' do
  case item[:extension]
  when 'markdown'
    filter :erb
    filter :colorize_syntax, :colorizers => { :ruby => :pygmentize }
    filter :maruku
  when 'haml'
    filter :haml
  end
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml
