---
title: A fast, feature rich ORM for Ruby
created_at: 2008-08-02 14:06:40.000000 -06:00
filter: haml
---
%p
  DataMapper is an Object Relational Mapper written in Ruby. The goal of this 
  project is to make an ORM that is fast, consistent, extensible and well 
  organised.

%p
  To learn a little more, have a look at Why DataMapper?

