<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>DataMapper - {{ page.title }}</title>
     <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
     <link rel="stylesheet" href="/css/code.css" type="text/css" media="screen, projection" />
     <!--[if lt IE 7]> <link rel="stylesheet" href="css/ie_hacks.css" type="text/css" media="screen, projection" /> <![endif]-->
     <link rel="alternate" type="application/rss+xml" title="News and Notes feed" href="/news.rss" />
     <link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico" />
     <script type='text/javascript'>
     //<![CDATA[
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-11917142-1']);
       _gaq.push(['_trackPageview']);
     //]]>
     </script>
  </head>

  <body id="home">
    <div id="content">
      <div id="header">
        {% include menu.html %}
      </div>

   {{ content }}

      <div id="footer">
        <p>Copyright Sam Smoot 2007, 2008</p>
        <p>Copyright Dan Kubb 2009-2012</p>
        <p>Web Design by <a href="http://www.mr-eel.com/">Luke Matthew Sutton</a> - Community Maintained</p>
      </div>
    </div>
    <script src="//www.google-analytics.com/ga.js" type="text/javascript" async="async"></script>
  </body>
</html>
